/* Base app styles */

@import "~normalize.css/normalize.css";

body {

}

h1 {
	color: #000;
	font-size: 24px;
    font-weight: 400;
    color: #757575;

    &.title {
    	width: 80%;
    	display: inline-block;
    }
}

.wrp {
	width: 1000px;
	margin: auto;
}